body {
    background-color: #FFF; /* Background color */
    color: #222;            /* Foreground color used for text */
    font-family: Helvetica; 
    font-size: 17px;
    margin: 0;              /* Amount of negative space around the outside of the body */
    padding: 0;             /* Amount of negative space around the inside of the body */
}



 div.header {display:none}
 div.sidebar1{display:none}
 
 ul.MenuBarHorizontal{
	 <!--display:none;-->
 }
 
 div.content {
	 
 }

.footer {
	background: #6F7D94;
	position: relative;
	clear: both;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	float: none;
	text-align: left;
	font-family: "Lucida Console", Monaco, monospace;
	
}